<html>

<head>
	<title>I am bored</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
</head>

<body>
	<div align="center">
	<img src="/static/boredcat.jpg" alt="This cat is bored :P"></br></br>
	<p>Hey! If you are as bored as this cute little cat, I have a suggestion for you:</p>
	
	<div class="alert alert-danger" role="alert" style="width: 40%;">
  		<p><b>{{title}}</b></p>
		<p>{{text}}</p>
	</div>

</div>
</body>
</html>
